:root {
    --main-color: #9a8672;
    --error-color: #e94040;
    --input-bg: #f2f2f2;
}
.admin__content {
    max-width: 1100px;
    margin: 0 auto;
}
.admin__heading {
    font-size: 32px;
    font-family: "Gideon Roman", serif;
    font-weight: 900;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--main-color);
    margin: 15px 0;
}
/* search bar部分 */
.search-form {
    max-width: 1100px;
    margin: 20px auto;
}
.search-form__inner {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    width: 100%;
}
.input__name {
    flex: 2;
    min-width: 300px;
}
.input__gender {
    flex: 0.8;
    min-width: 60px;
}
.input__kinds {
    flex: 1.5;
    min-width: 180px;
}
.input__date {
    flex: 1.2;
    min-width: 150px;
}
.search-form__button,
.search-form__reset {
    flex: 0;
    min-width: 80px;
}
.input__name input::placeholder {
    color: #cbaf99;
    font-size: 14px;
    opacity: 1;
}
.input__name input,
.select__gender,
.select__kinds,
.input__date input {
    background-color: #f2f2f2;
    border: 1px solid #d4bea9;
    width: 100%;
    border-radius: 2px;
    padding: 10px 15px;
    color: var(--main-color);
    font-size: 14px;
    outline: none;
    height: 38px;
    box-sizing: border-box;
}

/* search bar ボタン */
.search-form__button {
    width: 100px;
    height: 38px;
}
.search-form__button button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    border-radius: 3px;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s;
}
.search-form__reset {
    width: 100px;
    height: 38px;
}
.reset__button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cab7a3;
    border-radius: 3px;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s;
}

/* 2段目ツールバー部分 */
.tool-bar {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    height: 50px;
    margin: 20px auto;
    align-items: center;
}
.export__button {
    width: 150px;
    height: 38px;
}
.export__button--submit {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eae9e7;
    border-radius: 3px;
    color: var(--main-color);
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s;
}

/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.pagination .page-item .page-link {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #e0dfde;
    color: var(--main-color);
    background-color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}
.pagination .page-item.active .page-link {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: #fff;
}
.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover {
    background-color: var(--main-color);
    color: #fff;
}

/* コンタクトテーブル */
.contact-table__inner {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dcd8d4c8;
    font-size: 16px;
    color: var(--main-color);
}

.contact-table__title th {
    background-color: var(--main-color);
    color: #fff;
    font-size: 15px;
    padding: 15px;
    text-align: left;
}
.contact-table__row:hover {
    background-color: #f5f0ebc8;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.contact-table__row td {
    padding: 18px;
    border-bottom: 1px solid #dcd8d4c8;;
    font-size: 15px;
}
.detail__button {
    background-color: #f1ece8;
    color: var(--main-color);
    padding: 5px 15px;
    border-radius: 4px;
    font-weight: bold;
}

/* モーダル */
.modal__inner {
    position: relative;
    background-color: #fff;
    width: 90%;
    max-width: 700px;
    padding: 50px 40px;
    border-radius: 2px;
    border: 1px solid var(--main-color);
}
.modal__table th {
    text-align: left;
    width: 30%;
    padding: 15px 0;
    color: var(--main-color);
    font-weight: bold;
    font-family: serif;
}
.modal__table td {
    padding: 15px 0;
    color: #333;
}
.modal__table {
    width: 100%;
    margin-bottom: 30px;
    border-collapse: collapse;
}
.modal__close {
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #666;
    font-size: 18px;
    line-height: 1;
}
.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.delete__button {
    display: block;
    margin: 0 auto;
    background-color: var(--error-color);
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}
.delete__button:hover {
    opacity: 0.8;
}