.admin__content {
    background-color: #fff;
    max-width: 900px;
    margin: 0 auto;
}
.admin__heading {
    text-align: center;
}
h2 {
    font-size: 24px;
    letter-spacing: 0.1em;
    color: #8b7969;
}

/* 検索フォームのレイアウト */
.search-form {
    max-width: 1230px;
}
.search-form__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: #fff;
    margin-bottom: 30px;
}
.tool-bar {
    display: flex;
    justify-content: space-between;
    max-width: 1230px;
    margin: 30px auto;

}
.pagination svg,
nav svg {
    width: 18px;
    height: 18px;
}

.contact-table__inner {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    font-size: 14px;
}

.contact-table__title th {
    background-color: #8b7969;
    color: #fff;
    padding: 15px;
    text-align: left;
}

.contact-table__row td {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.detail-button {
    background-color: #e4d9d1;
    color: #8b7969;
    padding: 5px 15px;
    border-radius: 4px;
    font-weight: bold;
}
.modal-overlay {
position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #75737323;
    display: none;
    align-items: center;
    /* 縦方向の中央 */
    justify-content: center;
    z-index: 10000;
}
.modal-table {
    background-color: #fff;
    width: 90%;
    /* スマホなど小さな画面用 */
    max-width: 500px;
    /* ★ここで横幅を小さく制限（お好みで400pxなど） */
    padding: 30px;
    /* 余白を少し詰めると引き締まります */
    border-radius: 2px;
    /* 角を少し丸く（角ばらせるなら0） */
    position: relative;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}