:root {
    --main-color: #9a8672;
    --error-color: #e94040;
}
.header {
    border-bottom: 1px solid #8b79698d;
}
.header__inner {
    position: relative;
    max-width: 1230px;
    margin: 0 auto;
    padding: 20px 40px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: flex-end;
}
.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    text-decoration: none;
    font-family: serif;
    font-weight: bold;
    font-size: 34px;
}
.header-nav {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}
.login,
.register,
.logout__button-submit {
    display: inline-block;
    background-color: #f2f2f2;
    color: #b49a7f;
    padding: 8px 20px;
    font-size: 16px;
    font-family: serif;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
    line-height: 1;
}
.header-nav__link:hover {
    background: #b49a7f;
    color: #fff;
}