.confirm__content {
    background: #fff;
    max-width: 1000px;
    margin: 50px auto;
    }

    .confirm__heading {
    color: #947b62;
    text-align: center;
    font-family: serif;
    font-size: 30px;
    font-weight: bold;
}

.form {
    width: 100%;
    margin: 30px auto;
    font-size: 18px;
    color: #947b62;
}
.confirm-table {
    border: 1px solid #947b62bd;
    margin-bottom: 80px;
}
.confirm-table__inner {
    width: 100%;
}
.confirm-table__header {
    padding: 15px;
    width: 40%;
    background-color: #947b62bd;
    color: #fff;
}
.confirm-table__text {
    padding: 20px;
}
.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}
.confirm-table__row {
    border-bottom: 1px solid #947b62bd;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}
.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #947b62bd;
    color: #fff;
    cursor: pointer;
}
.form__button-fix {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #fff;
    color: #947b62bd;
    cursor: pointer;
}