:root {
    --main-color: #9a8672;
    --error-color: #e94040;
    --input-bg: #f2f2f2;
}
.confirm__content {
    margin: 0 auto;
    max-width: 1230px;
}
.confirm__heading {
    font-size: 32px;
    font-family: "Gideon Roman", serif;
    font-weight: 900;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--main-color);
    margin: 20px;
}
.form {
    width: 70%;
    margin: 40px auto;
    font-size: 18px;
    font-family: sans-serif;
    color:var(--main-color);
}
.confirm-table {
    border: 1px solid #d4bea9;
    margin-bottom: 50px;
}
.confirm-table__inner {
    width: 100%;
    border-collapse: collapse;
}
.confirm-table__header {
    padding: 20px 30px;
    width: 30%;
    background-color: #b1a190;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: left;
    vertical-align: middle;
}
.confirm-table__text {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    color: inherit;
    text-align: left;
}
.confirm-table__row {
    border-bottom: 1px solid #d4bea9;
}

.form__button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
}
.form__button--submit {
    padding: 10px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
    transition: opacity 0.3s;
}
.form__button--modify {
    padding: 10px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: transparent;
    color: var(--main-color);
    cursor: pointer;
    text-decoration: underline;
}
.form__button--submit:hover,
.form__button--modify:hover {
    opacity: 0.7;
}
.confirm-table__row:last-child {
    border-bottom: none;
}