.contact-form__content {
    margin: 0 auto;
    max-width: 1230px;
}
.contact-form__heading {
    font-size: 30px;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    color: #947b62;
    margin: 20px;
}
.form {
    margin: 0 auto;
    width: 70%;
    color: #947b62;
}
.form__group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.form__label {
    width: 30%;
    padding-top: 10px;
    text-align: left;
}
.form__input--content {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.label__item {
    color: #947b62;
    font-size: 18px;

}
.label__required {
    color: red;
    font-size: 16px;
}
.form__input--flex {
    display: flex;
    width: 100%;
    gap: 20px;
}
.form__input--box {
    flex: 1;
    width: 100%;
    background-color: #f2f2f2;
    padding: 12px 15px;
    border-radius: 4px;
    display: flex;
}
.form__input--box input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
}
.form__input--box input,
.form__input--box textarea,
.form__input--box select {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-family: inherit;
}
.form__input--box textarea {
    min-height: 120px;
    resize: vertical;
    /* 縦方向のみリサイズ可能に */
}
.error__message {
    color: red;
    font-size: 14px;
}
.form__button {
    margin-top: 30px;
    text-align: center;
}
.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #947b62bd;
    color: #fff;
}