:root {
    --main-color: #9a8672;
    --error-color: #e94040;
    --input-bg: #f2f2f2;
}

.login-form__content {
    background: #ebe2d7;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.login-form__heading {
    font-size: 32px;
    font-family: "Gideon Roman", serif;
    font-weight: 900;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    text-align: center;
    color: var(--main-color);
}

.form {
    margin: 0 auto;
    width: 700px;
    min-height: 600px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #b69a84;
    border-radius: 5px;
    margin-top: 30px;
}

.form__group {
    margin: 50px auto;
}

.form__group--content {
    width: 70%;
    margin: 0 auto;
}

.form__group--title {
    width: 70%;
    text-align: left;
    margin: 0 auto 10px;
    font-size: 18px;
    color: var(--main-color);
}

.form__input--text {
    width: 100%;
    color: var(--main-color);
}

.form__input--text input {
    width: 100%;
    padding: 12px 15px;
    background: var(--input-bg);
    border: none;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--main-color);
    font-family: sans-serif;
}

.form__input--text input:focus {
    background: #fff;
    box-shadow: 0 0 0 1px var(--main-color);
}
.form__input--text input::placeholder {
    color: #cbaf99;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 1;
}
.form__error {
    width: 100%;
    padding: 0;
    min-height: 20px;
    margin-top: 5px;
    box-sizing: border-box;
}

.error__message {
    color: var(--error-color);
    font-size: 14px;
    margin: 0;
    text-align: left;
}

.form__button {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.form__button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
    transition: opacity 0.3s;
}