.login-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    background-color: #e6dfdb;
}

.login-form__heading {
    margin-bottom: 20px;
    text-align: center;
    color: #cbaf99;
}

.form {
    margin: 0 auto;
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #8f7a69;
    border-radius: 5px;
    margin-top: 30px;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
    margin: 15px 60px;
    font-size: 14px;
    color: #cbaf99;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 70%;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
    background-color: #e6e2e296;
}

.form__button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 80px;
    height: 30px;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    background: #cbaf99;
    color: #fff;
    cursor: pointer;
    margin-bottom: 40px;
    align-items: center;
}