.thanks-container {
 margin: 0 auto;
}
.background__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color: #cbaf993c;
    z-index: -1;
    white-space: nowrap;
}
.thanks-content {
    display: flex;
    justify-content: center;
    height: 400px;
}
h2{
    font-size: 20px;
    color: #cbaf99;;
    margin: 0 auto;
    margin-top: 250px;
}
.form {
    margin-top: -30px;
    text-align: center;
}
.return__home {
    background: #cbaf99;
    color: #fff;
    border-radius: 3px;
    border: none;
}