:root {
    --main-color: #b49a7f;
}

.thanks__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    width: 100%;
    overflow: hidden;
}

.background__text {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    pointer-events: none;
}

.background__text h2 {
    font-size: 20vw;
    font-weight: 900;
    color: #947b6243;
    opacity: 0.6;
    white-space: nowrap;
    letter-spacing: -0.05em;
    margin: 0;
    font-family: serif;
}


.thanks__message {
    position: relative;
    z-index: 10;
    text-align: center;
}

.thanks__message-text {
    font-size: 24px;
    margin-top: 130px;
    margin-bottom: 60px;
    font-weight: 500;
    color: var(--main-color);
}

.return__home {
    background: var(--main-color);
    color: #fff;
    padding: 12px 40px;
    border-radius: 2px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition: opacity 0.3s;
}

.return__home:hover {
    opacity: 0.8;
}